@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins:300);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --cor-principal:black;
    --cor-secundaria:#353535;
    --font-color:white;
    --font-fam-secundary: 'Roboto', sans-serif;
    

}
body {
    background-color: white;
}
a {
    text-decoration: none;
}
.categorias{
    display: flex;
    background-color: var(--cor-secundaria);
    align-items: center;
    justify-content: center;
    gap: 20px; 
    height: 50px;

}


p {
    font-family:var(--font-fam-secundary) !important;
    
}

main {
    background-color: transparent;
    display: flex;
    gap: 15vw;
}

nav {
    
    background-color: var(--cor-principal);
    display: flex;
}
.Logo img {
    width: 70px;
    margin-inline: 20px;
    
}

.Buscar {
    display: flex;
    align-items: center;

}
.Buscar  input {
    padding: 10px;
    width: 500px;
    
}

.Buscar img {
    transform: translateX(-30px);
    width: 20px;
}
.menu img{

    filter: invert(100%);

}
.filtro {

    border: 2px solid black;
      width: 10vw;
      height: min-content;
      margin-top: 80px;
      margin-left: 15px;
      padding: 25px;

}
.filtro p {
    color: black;
    font-size: 24px;
    margin-inline: 6px;
}
p {
    color: white;
    font-size: 24px;
    margin-inline: 6px;
    
}
.Login {
    display: flex;
    color: var(--font-color);
    align-items: center;
    margin-left: 40vw;
}
.Login img {
    filter: invert(100%);
    height: 30px;
    width: 30px;
    margin-left: 4vw;
    

}
.product-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px ;
    justify-content:flex-start;
    
    margin: 100px 11rem 0px 15rem;
    gap: 1.70rem 1.70rem;
    color: black;
} 
.item-card {
    width: 250px;
    text-align: center;
    border: 4px solid black;
    cursor: pointer;
    border-radius: 8px;

}
.item-card p { 
    color: black;
    background-color:white;

}
.item-card img {
    background-color: white;
    width: 100%;

}
.item-card:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.item-card:hover p {
    color: black;
}

.item-card:active {
    transform: scale3d(0.9, 0.9, 1);
}
body{
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins";
  
}
.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #0e2941;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #234666;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.login-page img {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    width: 60px;


}

