*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
.cabecario {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
.input {
    display: flex;
    justify-content: center;
    gap: 10px;

  }

  input {
    width: 20vh;
    height: 50px;
    
  }
  button {
    width: 100px;
    height: 50px;
  }
