#conteudo-left{
    
    width:500px;
   
    height:300px;
    
    float:left;
   
    background-color:#FF0;
    }
  #conteudo-right{
   
    width:500px;
    
    height:400px;
    
    float:left;
    
    background-color:#F00;
    }